[Unit]
Description=Timesheet App

[Service]
Type=simple
User=timesheetspa
Group=timesheetspa
Restart=on-failure
Environment=MIX_ENV=prod "PORT=5001"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/timesheetspa/timesheetspa
ExecStart=/bin/bash /home/timesheetspa/timesheetspa/start.sh

[Install]
WantedBy=multi-user.target